{
  "openapi": "3.1.0",
  "info": {
    "title": "Atribu API",
    "version": "1.0.0",
    "description": "Marketing attribution API. Get campaign ROAS, visitor analytics, customer journeys, and revenue attribution data.\n\n## Authentication\n\nAll requests require a Bearer token in the `Authorization` header:\n```\nAuthorization: Bearer atb_live_your_key_here\n```\n\nGet your API key from **Settings > API Keys** in the Atribu dashboard.\n\n## Scopes\n\nAPI keys have granular scopes:\n- `analytics:read` — Overview, timeseries, breakdowns, quality, keywords\n- `campaigns:read` — Campaign performance, ROAS, trends\n- `conversions:read` — Conversion counts, revenue\n- `customers:read` — Customer list, journey details (PII)\n- `visitors:read` — Visitor list (PII)\n- `realtime:read` — Live visitor count\n\n## Rate Limits\n\nDefault: 60 requests/minute. Check `X-RateLimit-Remaining` header.\nHeavy endpoints (customers, visitors, journey) cost 3x.\n\n## Date Range\n\nMost endpoints require `date_from` and `date_to` in YYYY-MM-DD format. Maximum range: 366 days.",
    "contact": {
      "name": "Atribu Support",
      "url": "https://www.atribu.app"
    }
  },
  "servers": [
    {
      "url": "https://www.atribu.app",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key in Bearer format. Get your key from Settings > API Keys in the Atribu dashboard."
      },
      "adminAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Atribu staff secret (`admin_secret_...`) for the `/api/v1/admin/*` surface. Constant-time hashed compare; rotate via `ATRIBU_ADMIN_SECRET` env var on the Next.js service."
      },
      "clientSecretBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "RFC 6749 §2.3.1 `client_secret_basic`. Used on `/oauth/token` and `/oauth/revoke`. The body-form variant (`client_id` + `client_secret` in body) is also accepted per RFC."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "invalid_parameter"
              },
              "message": {
                "type": "string",
                "example": "date_from is required"
              },
              "status": {
                "type": "number",
                "example": 400
              },
              "request_id": {
                "type": "string",
                "example": "req_a1b2c3d4"
              }
            },
            "required": [
              "code",
              "message",
              "status",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Meta": {
        "type": "object",
        "properties": {
          "date_from": {
            "type": "string",
            "example": "2026-03-01"
          },
          "date_to": {
            "type": "string",
            "example": "2026-03-25"
          },
          "profile_id": {
            "type": "string",
            "example": "uuid"
          }
        },
        "required": [
          "profile_id"
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "has_next": {
            "type": "boolean"
          },
          "cursor": {
            "type": "string"
          }
        },
        "required": [
          "has_next"
        ]
      },
      "date_from": {
        "type": "string",
        "example": "2026-03-01",
        "description": "Start date (YYYY-MM-DD, inclusive)"
      },
      "date_to": {
        "type": "string",
        "example": "2026-03-25",
        "description": "End date (YYYY-MM-DD, inclusive). Max range: 366 days."
      },
      "limit": {
        "type": "string",
        "example": "10",
        "description": "Max results to return (default 10, max 100)"
      },
      "model": {
        "type": "string",
        "example": "last_touch",
        "description": "Attribution model. One of: last_touch, first_touch, split_50_50, linear, position_based, time_decay, last_non_direct, custom_weighted"
      },
      "OverviewResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "current": {
                "type": "object",
                "properties": {
                  "spend": {
                    "type": "number"
                  },
                  "revenue": {
                    "type": "number"
                  },
                  "roas": {
                    "type": "number"
                  },
                  "outcomes": {
                    "type": "number"
                  },
                  "attributed_outcomes": {
                    "type": "number"
                  },
                  "coverage_percent": {
                    "type": "number"
                  },
                  "visitors": {
                    "type": "number"
                  },
                  "pageviews": {
                    "type": "number"
                  },
                  "bounce_rate": {
                    "type": "number"
                  },
                  "avg_engaged_seconds": {
                    "type": "number"
                  },
                  "cash_revenue": {
                    "type": "number"
                  },
                  "cash_payments": {
                    "type": "number"
                  }
                },
                "required": [
                  "spend",
                  "revenue",
                  "roas",
                  "outcomes",
                  "attributed_outcomes",
                  "coverage_percent",
                  "visitors",
                  "pageviews",
                  "bounce_rate",
                  "avg_engaged_seconds",
                  "cash_revenue",
                  "cash_payments"
                ]
              },
              "previous": {
                "type": "object",
                "properties": {
                  "spend": {
                    "type": "number"
                  },
                  "revenue": {
                    "type": "number"
                  },
                  "roas": {
                    "type": "number"
                  },
                  "outcomes": {
                    "type": "number"
                  },
                  "attributed_outcomes": {
                    "type": "number"
                  },
                  "coverage_percent": {
                    "type": "number"
                  },
                  "visitors": {
                    "type": "number"
                  },
                  "pageviews": {
                    "type": "number"
                  },
                  "bounce_rate": {
                    "type": "number"
                  },
                  "avg_engaged_seconds": {
                    "type": "number"
                  },
                  "cash_revenue": {
                    "type": "number"
                  },
                  "cash_payments": {
                    "type": "number"
                  }
                },
                "required": [
                  "spend",
                  "revenue",
                  "roas",
                  "outcomes",
                  "attributed_outcomes",
                  "coverage_percent",
                  "visitors",
                  "pageviews",
                  "bounce_rate",
                  "avg_engaged_seconds",
                  "cash_revenue",
                  "cash_payments"
                ]
              }
            },
            "required": [
              "current",
              "previous"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      }
    },
    "parameters": {
      "date_from": {
        "schema": {
          "$ref": "#/components/schemas/date_from"
        },
        "required": true,
        "description": "Start date (YYYY-MM-DD, inclusive)",
        "name": "date_from",
        "in": "query"
      },
      "date_to": {
        "schema": {
          "$ref": "#/components/schemas/date_to"
        },
        "required": true,
        "description": "End date (YYYY-MM-DD, inclusive). Max range: 366 days.",
        "name": "date_to",
        "in": "query"
      },
      "limit": {
        "schema": {
          "$ref": "#/components/schemas/limit"
        },
        "required": false,
        "description": "Max results to return (default 10, max 100)",
        "name": "limit",
        "in": "query"
      },
      "model": {
        "schema": {
          "$ref": "#/components/schemas/model"
        },
        "required": false,
        "description": "Attribution model. One of: last_touch, first_touch, split_50_50, linear, position_based, time_decay, last_non_direct, custom_weighted",
        "name": "model",
        "in": "query"
      }
    }
  },
  "paths": {
    "/api/v1/overview": {
      "get": {
        "summary": "Get dashboard overview",
        "description": "Returns KPIs (spend, revenue, ROAS, CAC), visitor metrics, and comparison with the previous period of equal length.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "model",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Overview data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverviewResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/timeseries": {
      "get": {
        "summary": "Get daily timeseries data",
        "description": "Returns daily visitors, pageviews, bounces, revenue, and spend.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Timeseries data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "visitors": {
                            "type": "number"
                          },
                          "pageviews": {
                            "type": "number"
                          },
                          "bounces": {
                            "type": "number"
                          },
                          "cash_revenue": {
                            "type": "number"
                          },
                          "spend": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "date",
                          "visitors",
                          "pageviews",
                          "bounces",
                          "cash_revenue",
                          "spend"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/realtime": {
      "get": {
        "summary": "Get live visitor count",
        "description": "Returns the number of visitors currently online (active in last 5 minutes).",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Realtime data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "visitors_online": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "visitors_online"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/channels": {
      "get": {
        "summary": "Get traffic source breakdown",
        "description": "Returns channel breakdown with visitors, sessions, pageviews, bounce rate, conversions, and revenue.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "visitors": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "pageviews": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "conversion_rate": {
                            "type": "number"
                          },
                          "revenue": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "value",
                          "visitors",
                          "visits",
                          "pageviews",
                          "bounce_rate",
                          "conversions",
                          "conversion_rate",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pages": {
      "get": {
        "summary": "Get page performance breakdown",
        "description": "Returns page breakdown with visitors, sessions, pageviews, bounce rate, conversions, and revenue.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "visitors": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "pageviews": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "conversion_rate": {
                            "type": "number"
                          },
                          "revenue": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "value",
                          "visitors",
                          "visits",
                          "pageviews",
                          "bounce_rate",
                          "conversions",
                          "conversion_rate",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/countries": {
      "get": {
        "summary": "Get country breakdown",
        "description": "Returns country breakdown with visitors, sessions, pageviews, bounce rate, conversions, and revenue.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "visitors": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "pageviews": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "conversion_rate": {
                            "type": "number"
                          },
                          "revenue": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "value",
                          "visitors",
                          "visits",
                          "pageviews",
                          "bounce_rate",
                          "conversions",
                          "conversion_rate",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices": {
      "get": {
        "summary": "Get device type breakdown",
        "description": "Returns device breakdown with visitors, sessions, pageviews, bounce rate, conversions, and revenue.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "visitors": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "pageviews": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "conversion_rate": {
                            "type": "number"
                          },
                          "revenue": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "value",
                          "visitors",
                          "visits",
                          "pageviews",
                          "bounce_rate",
                          "conversions",
                          "conversion_rate",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/browsers": {
      "get": {
        "summary": "Get browser breakdown",
        "description": "Returns browser breakdown with visitors, sessions, pageviews, bounce rate, conversions, and revenue.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "visitors": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "pageviews": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "conversion_rate": {
                            "type": "number"
                          },
                          "revenue": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "value",
                          "visitors",
                          "visits",
                          "pageviews",
                          "bounce_rate",
                          "conversions",
                          "conversion_rate",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/os": {
      "get": {
        "summary": "Get operating system breakdown",
        "description": "Returns os breakdown with visitors, sessions, pageviews, bounce rate, conversions, and revenue.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "visitors": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "pageviews": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "conversion_rate": {
                            "type": "number"
                          },
                          "revenue": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "value",
                          "visitors",
                          "visits",
                          "pageviews",
                          "bounce_rate",
                          "conversions",
                          "conversion_rate",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/referrers": {
      "get": {
        "summary": "Get referrer breakdown",
        "description": "Returns referrer breakdown with visitors, sessions, pageviews, bounce rate, conversions, and revenue.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          },
                          "visitors": {
                            "type": "number"
                          },
                          "visits": {
                            "type": "number"
                          },
                          "pageviews": {
                            "type": "number"
                          },
                          "bounce_rate": {
                            "type": "number"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "conversion_rate": {
                            "type": "number"
                          },
                          "revenue": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "value",
                          "visitors",
                          "visits",
                          "pageviews",
                          "bounce_rate",
                          "conversions",
                          "conversion_rate",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "summary": "Get campaign performance",
        "description": "Returns top campaigns with ROAS and attribution data. Add `level=ad_set` or `level=ad` for granular breakdowns.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "model",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "level",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaign_id": {
                            "type": "string"
                          },
                          "campaign_name": {
                            "type": "string"
                          },
                          "spend": {
                            "type": "number"
                          },
                          "outcome_count": {
                            "type": "number"
                          },
                          "outcome_value": {
                            "type": "number"
                          },
                          "roas": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "campaign_id",
                          "campaign_name",
                          "spend",
                          "outcome_count",
                          "outcome_value",
                          "roas"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/trend": {
      "get": {
        "summary": "Get daily campaign trend",
        "description": "Returns daily spend, impressions, and clicks for specific campaigns/ad sets/ads.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "entity_ids",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "level",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Trend data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity_id": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "spend": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "clicks": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "entity_id",
                          "date",
                          "spend",
                          "impressions",
                          "clicks"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/top-performers": {
      "get": {
        "summary": "Get the profile's top-performing ads (cohort-normalized creative scoring)",
        "description": "Best ads scored against *comparable* creative (a cohort = channel × format × objective × audience warmth × geo × placement): cohort-normalized, empirical-Bayes-smoothed (small-sample ads shrink toward the cohort mean), and maturity-staged. Each ad carries THREE distinct measures — present them separately, never merge: `composite_score` (0–100, a transparent rule blend), `top_performer_likelihood` (0–1, a probability — a *likelihood, not a guarantee*; the calibrated ML-ranker output when `score_source='model'` with `model_version` set, else a monotone function of `composite_score`; never ROAS), and `attributed_revenue`/`roas` (real cash attribution, present when `truth_grade='attributed'`). `maturity_stage` (cold→early→mature→calibrated) says how settled the score is; `reason_codes` explain which funnel layer is strong/weak with a sample-confidence band. Scores refresh on a daily cadence. `window` is a rolling lookback (`7d`/`14d`/`28d`/`lifetime`), not a custom date range. The workspace-wide cross-profile view is exposed via the Atribu MCP server's `top_workspace_performers` tool.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "min_spend",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "objectives",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "truth_grades",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "formats",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "required": false,
            "name": "has_video",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Top performers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_external_id": {
                            "type": "string"
                          },
                          "ad_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "campaign_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "ad_set_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "creative_thumbnail_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "video_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "score_window": {
                            "type": "string"
                          },
                          "composite_score": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "top_performer_likelihood": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "model_version": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "score_source": {
                            "type": "string",
                            "enum": [
                              "model",
                              "rules"
                            ]
                          },
                          "maturity_stage": {
                            "type": "string"
                          },
                          "truth_grade": {
                            "type": "string"
                          },
                          "primary_outcome_kind": {
                            "type": "string"
                          },
                          "cohort_key": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cohort_objective": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cohort_format": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cohort_audience_warmth": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cohort_n_ads": {
                            "type": "number"
                          },
                          "hook_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "creative_format": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cta_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "primary_angle": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "offers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "spend": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "ctr": {
                            "type": "number"
                          },
                          "cpc": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "attributed_cash_outcomes": {
                            "type": "number"
                          },
                          "attributed_revenue": {
                            "type": "number"
                          },
                          "roas": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "cac": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "attributed_outcomes_total": {
                            "type": "number"
                          },
                          "attributed_pipeline_outcomes": {
                            "type": "number"
                          },
                          "attributed_pipeline_value": {
                            "type": "number"
                          },
                          "meta_reported_conversions": {
                            "type": "number"
                          },
                          "meta_reported_conversion_value": {
                            "type": "number"
                          },
                          "cost_per_conversation": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "messaging_conversations_started": {
                            "type": "number"
                          },
                          "first_reply_rate": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "avg_engagement_score": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "reason_codes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "layer": {
                                  "type": "string"
                                },
                                "polarity": {
                                  "type": "string",
                                  "enum": [
                                    "strength",
                                    "weakness",
                                    "forecast",
                                    "fatigue"
                                  ]
                                },
                                "percentile": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "sample_confidence": {
                                  "type": "string",
                                  "enum": [
                                    "low",
                                    "medium",
                                    "high"
                                  ]
                                },
                                "code": {
                                  "type": "string"
                                },
                                "metric_value": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "layer",
                                "polarity",
                                "percentile",
                                "sample_confidence"
                              ]
                            }
                          },
                          "forecast_outcomes_7d": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "forecast_outcomes_7d_low": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "forecast_outcomes_7d_high": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "forecast_confidence": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "low",
                              "medium",
                              "high",
                              null
                            ]
                          },
                          "hazard_30d_pause": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "hazard_30d_degradation": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "fatigue_state": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "active",
                              "paused",
                              "degraded",
                              null
                            ]
                          },
                          "fatigue_risk_tier": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "low",
                              "medium",
                              "high",
                              "critical",
                              null
                            ]
                          },
                          "expected_lifespan_days": {
                            "type": [
                              "number",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "ad_external_id",
                          "ad_name",
                          "campaign_name",
                          "ad_set_name",
                          "creative_thumbnail_url",
                          "video_id",
                          "score_window",
                          "composite_score",
                          "top_performer_likelihood",
                          "model_version",
                          "score_source",
                          "maturity_stage",
                          "truth_grade",
                          "primary_outcome_kind",
                          "cohort_key",
                          "cohort_objective",
                          "cohort_format",
                          "cohort_audience_warmth",
                          "cohort_n_ads",
                          "hook_type",
                          "creative_format",
                          "cta_type",
                          "primary_angle",
                          "offers",
                          "spend",
                          "impressions",
                          "ctr",
                          "cpc",
                          "attributed_cash_outcomes",
                          "attributed_revenue",
                          "roas",
                          "cac",
                          "attributed_outcomes_total",
                          "attributed_pipeline_outcomes",
                          "attributed_pipeline_value",
                          "meta_reported_conversions",
                          "meta_reported_conversion_value",
                          "cost_per_conversation",
                          "messaging_conversations_started",
                          "first_reply_rate",
                          "avg_engagement_score",
                          "reason_codes",
                          "forecast_outcomes_7d",
                          "forecast_outcomes_7d_low",
                          "forecast_outcomes_7d_high",
                          "forecast_confidence",
                          "hazard_30d_pause",
                          "hazard_30d_degradation",
                          "fatigue_state",
                          "fatigue_risk_tier",
                          "expected_lifespan_days"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/creative-patterns": {
      "get": {
        "summary": "Workspace creative pattern miner (Phase 2.7)",
        "description": "Which structural creative patterns (archetype cluster, narrative arc, dominant-third role combo, role presence signature, social-proof duration bucket, hook×claim×cta) win MORE than the workspace baseline. One row per (pattern_dim, pattern_value) with sample_n, winner_n, win_rate, workspace_baseline_win_rate, lift_vs_workspace, Wilson 95% CI bounds, and the top-5 exemplar ads embodying the pattern. Filtered to the API key's profile via the workspace RPC's profile_ids filter. Pair with /top-performers for cash impact per ad.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "min_cluster_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Creative patterns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "patterns": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "pattern_dim": {
                                "type": "string"
                              },
                              "pattern_value": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "pattern_label": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "pattern_description": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "pattern_winning_signal": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "sample_n": {
                                "type": "number"
                              },
                              "winner_n": {
                                "type": "number"
                              },
                              "win_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "workspace_baseline_win_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "lift_vs_workspace": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "confidence_interval_low": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "confidence_interval_high": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "exemplar_ad_external_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "pattern_dim",
                              "pattern_value",
                              "pattern_label",
                              "pattern_description",
                              "pattern_winning_signal",
                              "sample_n",
                              "winner_n",
                              "win_rate",
                              "workspace_baseline_win_rate",
                              "lift_vs_workspace",
                              "confidence_interval_low",
                              "confidence_interval_high",
                              "exemplar_ad_external_ids"
                            ]
                          }
                        },
                        "score_window": {
                          "type": "string"
                        },
                        "min_cluster_size": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "patterns",
                        "score_window",
                        "min_cluster_size"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/archetypes": {
      "get": {
        "summary": "Workspace creative archetype summary (Phase 2.7)",
        "description": "Workspace-level archetype headline: 'these are your creative clusters, named and ranked by lift.' One row per archetype_cluster with LLM-generated label/description/winning_signal, win-rate vs workspace baseline, Wilson 95% CI bounds, and top-5 exemplars. Archetypes are workspace-grain (cross-profile cohort percentiles); the response is NOT profile-scoped.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Archetype summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "archetypes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "archetype_cluster": {
                                "type": "number"
                              },
                              "label": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "description": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "winning_signal": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "n_ads": {
                                "type": "number"
                              },
                              "n_winners": {
                                "type": "number"
                              },
                              "win_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "workspace_baseline_win_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "lift_vs_workspace": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "confidence_interval_low": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "confidence_interval_high": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "exemplar_ad_external_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "archetype_cluster",
                              "label",
                              "description",
                              "winning_signal",
                              "n_ads",
                              "n_winners",
                              "win_rate",
                              "workspace_baseline_win_rate",
                              "lift_vs_workspace",
                              "confidence_interval_low",
                              "confidence_interval_high",
                              "exemplar_ad_external_ids"
                            ]
                          }
                        },
                        "score_window": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "archetypes",
                        "score_window"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ads/funnel-diagnosis": {
      "get": {
        "summary": "Per-ad funnel diagnosis (Phase 2.8)",
        "description": "Per-ad funnel-layer percentile breakdown — delivery, attention, retention, click_intent, postclick_messaging, attributed_revenue, platform_diagnostics. Each layer carries the ad's percentile within its cohort, the smoothed metric, sample_n, weakest-layer flag, diagnostic codes (e.g. retention_below_p25_at_mature_stage), and a recommended_priority — one of: fix_offer_or_audience, fix_landing_or_offer, fix_hook, improve_creative_clarity, increase_spend, rework_offer_or_landing, maintain. Cold-maturity ads with spend < $50 return 'increase_spend' (the 'spend_below_learning_phase' code). When the ad has no per-layer percentiles yet but at least one diagnostic_code applies, the response contains a single layer='no_data' row carrying the codes + recommended_priority. Scope: campaigns:read.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "ad_external_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Funnel diagnosis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ad_external_id": {
                          "type": "string"
                        },
                        "score_window": {
                          "type": "string"
                        },
                        "weakest_layer": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "recommended_priority": {
                          "type": "string"
                        },
                        "layers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "layer": {
                                "type": "string"
                              },
                              "percentile": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "smoothed_metric": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "sample_n": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "is_weakest_layer": {
                                "type": "boolean"
                              },
                              "diagnostic_codes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "recommended_priority": {
                                "type": "string"
                              },
                              "maturity_stage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "truth_grade": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "layer",
                              "percentile",
                              "smoothed_metric",
                              "sample_n",
                              "is_weakest_layer",
                              "diagnostic_codes",
                              "recommended_priority",
                              "maturity_stage",
                              "truth_grade"
                            ]
                          }
                        }
                      },
                      "required": [
                        "ad_external_id",
                        "score_window",
                        "weakest_layer",
                        "recommended_priority",
                        "layers"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ads/compare": {
      "get": {
        "summary": "Compare two ads by feature contributions (Phase 2.8)",
        "description": "Returns the top-N features most responsible for the gap between two ads' rankings, sorted by |model_contribution_a − model_contribution_b|. Each row has the feature name, raw values for A and B, the numeric delta, and per-ad model contributions sourced from `model_feature_contributions`.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "ad_a",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "ad_b",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "top_n",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature comparison",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ad_external_id_a": {
                          "type": "string"
                        },
                        "ad_external_id_b": {
                          "type": "string"
                        },
                        "score_window": {
                          "type": "string"
                        },
                        "features": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "feature_name": {
                                "type": "string"
                              },
                              "value_a": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "value_b": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "delta": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "model_contribution_a": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "model_contribution_b": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "contribution_delta_abs": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "feature_name",
                              "value_a",
                              "value_b",
                              "delta",
                              "model_contribution_a",
                              "model_contribution_b",
                              "contribution_delta_abs"
                            ]
                          }
                        }
                      },
                      "required": [
                        "ad_external_id_a",
                        "ad_external_id_b",
                        "score_window",
                        "features"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ads/trajectory": {
      "get": {
        "summary": "Per-ad daily history trajectory (Phase 2.8)",
        "description": "Daily snapshot rows for one ad from `creative_feature_store_history`. Each snapshot carries spend, smoothed funnel-layer percentiles, composite_score, maturity_stage, truth_grade, and delta_composite_vs_prev. Backs charts of how an ad's performance evolves over time. Default 60 days back, max 365.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "ad_external_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "days_back",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Ad trajectory",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ad_external_id": {
                          "type": "string"
                        },
                        "score_window": {
                          "type": "string"
                        },
                        "days_back": {
                          "type": "number"
                        },
                        "points": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "snapshot_date": {
                                "type": "string"
                              },
                              "spend": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "impressions": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "clicks": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "ctr": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "smoothed_hook_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "smoothed_retention_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "smoothed_ctr": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "smoothed_roas": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "pct_delivery": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "pct_attention": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "pct_retention": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "pct_click_intent": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "pct_attributed_revenue": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "attributed_revenue": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "attributed_outcomes_total": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "messaging_conversations_started": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "refund_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "composite_score": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "maturity_stage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "truth_grade": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "primary_outcome_kind": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "delta_composite_vs_prev": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "snapshot_date",
                              "spend",
                              "impressions",
                              "clicks",
                              "ctr",
                              "smoothed_hook_rate",
                              "smoothed_retention_rate",
                              "smoothed_ctr",
                              "smoothed_roas",
                              "pct_delivery",
                              "pct_attention",
                              "pct_retention",
                              "pct_click_intent",
                              "pct_attributed_revenue",
                              "attributed_revenue",
                              "attributed_outcomes_total",
                              "messaging_conversations_started",
                              "refund_rate",
                              "composite_score",
                              "maturity_stage",
                              "truth_grade",
                              "primary_outcome_kind",
                              "delta_composite_vs_prev"
                            ]
                          }
                        }
                      },
                      "required": [
                        "ad_external_id",
                        "score_window",
                        "days_back",
                        "points"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ads/fatigue-risk": {
      "get": {
        "summary": "Workspace fatigue risk ranking (Phase 4)",
        "description": "Returns ads at predicted fatigue risk (high/critical tier only, fatigue_state='active') ranked by `hazard_30d_pause × spend` — the projected budget at risk if each ad pauses within 30 days. The Cox cause-specific 30-day pause probability is a *likelihood, not a guarantee*. Excludes already paused/degraded ads (those are observed states surfaced separately). Each row carries `fatigue_risk_tier`, `hazard_30d_pause`, `hazard_30d_degradation` (when the degradation cause has trained, else null), `expected_lifespan_days` (trapezoidal E[T] from the survival curve), and `risk_rank_score`. Models retrain weekly.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ],
              "description": "Default '28d'"
            },
            "required": false,
            "description": "Default '28d'",
            "name": "score_window",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Top N ads (default 20, max 50)"
            },
            "required": false,
            "description": "Top N ads (default 20, max 50)",
            "name": "top",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Minimum spend filter (default 100; pass 0 to include all)"
            },
            "required": false,
            "description": "Minimum spend filter (default 100; pass 0 to include all)",
            "name": "min_spend",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace fatigue risk ranking",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "score_window": {
                          "type": "string"
                        },
                        "top_n": {
                          "type": "number"
                        },
                        "min_spend": {
                          "type": "number"
                        },
                        "ads": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": {}
                          }
                        }
                      },
                      "required": [
                        "score_window",
                        "top_n",
                        "min_spend",
                        "ads"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/forecast-outlook": {
      "get": {
        "summary": "Workspace portfolio forecast outlook (Phase 4)",
        "description": "Portfolio-grain forecast for the next 7 days. Returns one document with: projected total impressions + attributed outcomes (with 80% prediction-interval bands from split-conformal calibration — calibrated coverage bands, not Gaussian σ), projected average cost-per-outcome, the counts of `n_emerging_top_performers` (climbing ads with strong forecasts) and `n_at_risk_top_performers` (currently top-tier ads in high/critical fatigue), per-tier fatigue histograms, and `projected_budget_at_risk` (total spend across high+critical fatigue ads). Use as the first 'what's the week ahead' lookup.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ],
              "description": "Default '28d'"
            },
            "required": false,
            "description": "Default '28d'",
            "name": "score_window",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio outlook (single document)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ads/forecast": {
      "get": {
        "summary": "Per-ad forecast + fatigue + 14d trajectory (Phase 4 / F-3)",
        "description": "Returns one creative_feature_store row for the (workspace, profile, ad_external_id) tuple plus the last 14 days of daily delivery and any lifecycle events. The `cfs` object carries the Phase-4 forecast cols (forecast_outcomes_7d/_low/_high, forecast_confidence) and the fatigue cols (hazard_30d_pause, hazard_30d_degradation, expected_lifespan_days, fatigue_state, fatigue_risk_tier). All Phase-4 cols are NULL when the prediction-pass cron hasn't scored the ad (cold-start, paused, ML_FORECAST_AND_FATIGUE_ENABLED off). Query-param convention (audit B-7).",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The ad's external id (Meta ad id / Google ads id)"
            },
            "required": true,
            "description": "The ad's external id (Meta ad id / Google ads id)",
            "name": "ad_external_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
[...]
