{
  "openapi": "3.1.0",
  "info": {
    "title": "Atribu API",
    "version": "1.0.0",
    "description": "Marketing attribution API. Get campaign ROAS, visitor analytics, customer journeys, and revenue attribution data.\n\n## Authentication\n\nAll requests require a Bearer token in the `Authorization` header:\n```\nAuthorization: Bearer atb_live_your_key_here\n```\n\nGet your API key from **Settings > API Keys** in the Atribu dashboard.\n\n## Scopes\n\nAPI keys have granular scopes:\n- `analytics:read` — Overview, timeseries, breakdowns, quality, keywords\n- `campaigns:read` — Campaign performance, ROAS, trends\n- `conversions:read` — Conversion counts, revenue\n- `customers:read` — Customer list, journey details (PII)\n- `visitors:read` — Visitor list (PII)\n- `realtime:read` — Live visitor count\n- `calendar` — Calendar event CRUD on Atribu booking calendars\n- `calendar.manage` — Create / list / share (ACL) Atribu booking calendars\n\n## Rate Limits\n\nDefault: 60 requests/minute. Check `X-RateLimit-Remaining` header.\nHeavy endpoints (customers, visitors, journey) cost 3x.\n\n## Date Range\n\nMost endpoints require `date_from` and `date_to` in YYYY-MM-DD format. Maximum range: 366 days.",
    "contact": {
      "name": "Atribu Support",
      "url": "https://www.atribu.app"
    }
  },
  "servers": [
    {
      "url": "https://www.atribu.app",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key in Bearer format. Get your key from Settings > API Keys in the Atribu dashboard."
      },
      "adminAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Atribu staff secret (`admin_secret_...`) for the `/api/v1/admin/*` surface. Constant-time hashed compare; rotate via `ATRIBU_ADMIN_SECRET` env var on the Next.js service."
      },
      "clientSecretBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "RFC 6749 §2.3.1 `client_secret_basic`. Used on `/oauth/token` and `/oauth/revoke`. The body-form variant (`client_id` + `client_secret` in body) is also accepted per RFC."
      }
    },
    "schemas": {
      "ClientCredentialsMeta": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "example": "atr_client_a1b2c3"
          }
        },
        "required": [
          "client_id"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "invalid_parameter"
              },
              "message": {
                "type": "string",
                "example": "date_from is required"
              },
              "status": {
                "type": "number",
                "example": 400
              },
              "request_id": {
                "type": "string",
                "example": "req_a1b2c3d4"
              },
              "reconnect_required": {
                "type": "boolean",
                "description": "Present + true when the connection's token was revoked and the user must re-authorize.",
                "example": true
              },
              "reconnect_url": {
                "type": "string",
                "description": "Where to send the user to reconnect (present with `reconnect_required` when the channel can build one)."
              }
            },
            "required": [
              "code",
              "message",
              "status",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Meta": {
        "type": "object",
        "properties": {
          "date_from": {
            "type": "string",
            "example": "2026-03-01"
          },
          "date_to": {
            "type": "string",
            "example": "2026-03-25"
          },
          "profile_id": {
            "type": "string",
            "example": "uuid"
          }
        },
        "required": [
          "profile_id"
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "has_next": {
            "type": "boolean"
          },
          "cursor": {
            "type": "string"
          }
        },
        "required": [
          "has_next"
        ]
      },
      "date_from": {
        "type": "string",
        "example": "2026-03-01",
        "description": "Start date (YYYY-MM-DD, inclusive)"
      },
      "date_to": {
        "type": "string",
        "example": "2026-03-25",
        "description": "End date (YYYY-MM-DD, inclusive). Max range: 366 days."
      },
      "limit": {
        "type": "string",
        "example": "10",
        "description": "Max results to return (default 10, max 100)"
      },
      "model": {
        "type": "string",
        "example": "last_touch",
        "description": "Attribution model. One of: last_touch, first_touch, linear, time_decay, last_non_direct"
      },
      "OverviewResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "current": {
                "type": "object",
                "properties": {
                  "spend": {
                    "type": "number"
                  },
                  "revenue": {
                    "type": "number"
                  },
                  "organic_direct_revenue": {
                    "type": "number"
                  },
                  "roas": {
                    "type": "number"
                  },
                  "outcomes": {
                    "type": "number"
                  },
                  "attributed_outcomes": {
                    "type": "number"
                  },
                  "coverage_percent": {
                    "type": "number"
                  },
                  "cash_revenue": {
                    "type": "number"
                  },
                  "cash_payments": {
                    "type": "number"
                  }
                },
                "required": [
                  "spend",
                  "revenue",
                  "organic_direct_revenue",
                  "roas",
                  "outcomes",
                  "attributed_outcomes",
                  "coverage_percent",
                  "cash_revenue",
                  "cash_payments"
                ]
              },
              "previous": {
                "type": "object",
                "properties": {
                  "spend": {
                    "type": "number"
                  },
                  "revenue": {
                    "type": "number"
                  },
                  "organic_direct_revenue": {
                    "type": "number"
                  },
                  "roas": {
                    "type": "number"
                  },
                  "outcomes": {
                    "type": "number"
                  },
                  "attributed_outcomes": {
                    "type": "number"
                  },
                  "coverage_percent": {
                    "type": "number"
                  },
                  "cash_revenue": {
                    "type": "number"
                  },
                  "cash_payments": {
                    "type": "number"
                  }
                },
                "required": [
                  "spend",
                  "revenue",
                  "organic_direct_revenue",
                  "roas",
                  "outcomes",
                  "attributed_outcomes",
                  "coverage_percent",
                  "cash_revenue",
                  "cash_payments"
                ]
              }
            },
            "required": [
              "current",
              "previous"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "CashAttributionCoverage": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "currency": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": "object",
            "properties": {
              "count": {
                "type": "number"
              },
              "value": {
                "type": "number"
              }
            },
            "required": [
              "count",
              "value"
            ]
          },
          "buckets": {
            "type": "object",
            "properties": {
              "ad_attributed": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "number"
                  },
                  "value": {
                    "type": "number"
                  }
                },
                "required": [
                  "count",
                  "value"
                ]
              },
              "inherited": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "number"
                  },
                  "value": {
                    "type": "number"
                  }
                },
                "required": [
                  "count",
                  "value"
                ]
              },
              "dangling_ad": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "number"
                  },
                  "value": {
                    "type": "number"
                  }
                },
                "required": [
                  "count",
                  "value"
                ]
              },
              "organic_direct": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "number"
                  },
                  "value": {
                    "type": "number"
                  }
                },
                "required": [
                  "count",
                  "value"
                ]
              },
              "unattributed": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "number"
                  },
                  "value": {
                    "type": "number"
                  }
                },
                "required": [
                  "count",
                  "value"
                ]
              }
            },
            "required": [
              "ad_attributed",
              "inherited",
              "dangling_ad",
              "organic_direct",
              "unattributed"
            ]
          },
          "traceable_pct_by_count": {
            "type": "number"
          },
          "traceable_pct_by_value": {
            "type": "number"
          }
        },
        "required": [
          "model",
          "currency",
          "total",
          "buckets",
          "traceable_pct_by_count",
          "traceable_pct_by_value"
        ]
      },
      "TypingIndicatorResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "connection_id": {
                "type": "string",
                "format": "uuid"
              },
              "channel": {
                "type": "string",
                "enum": [
                  "whatsapp"
                ]
              },
              "to": {
                "type": "string"
              },
              "forwarded": {
                "type": "boolean",
                "description": "true when the read receipt (plus the typing indicator, unless `indicator: \"read\"`) reached Meta. false when Meta refused the `message_id` (stale / already-read / re-registered number) — a knowing no-op, still a 200."
              },
              "indicator": {
                "type": "string",
                "enum": [
                  "typing",
                  "read"
                ],
                "description": "The mode that was applied, echoed back. Absent means the deployment predates this field and therefore behaved as `typing` — the only way to detect that a requested `read` silently showed a bubble."
              },
              "reason": {
                "type": "string",
                "enum": [
                  "stale_message_id",
                  "message_id_conversation_mismatch"
                ],
                "description": "Present only when `forwarded` is false. `stale_message_id` — Meta refused the wamid. `message_id_conversation_mismatch` — the wamid belongs to a different conversation than `to`, so it was never forwarded."
              },
              "requested_at": {
                "type": "string"
              }
            },
            "required": [
              "connection_id",
              "channel",
              "to",
              "forwarded",
              "requested_at"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "MediaUploadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "media_id": {
                "type": "string",
                "example": "1234567890123456"
              },
              "mime_type": {
                "type": "string",
                "example": "video/mp4"
              },
              "file_size": {
                "type": "number",
                "example": 452012
              }
            },
            "required": [
              "media_id",
              "mime_type",
              "file_size"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "WhatsAppMediaResolveResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "example": "https://media.atribu.app/conversation-media/…/….jpg?X-Amz-Signature=…",
                "description": "Hosted, browser-fetchable URL (signed, ~7-day TTL)."
              },
              "mime_type": {
                "type": "string",
                "example": "image/jpeg"
              },
              "expires_at": {
                "type": "string",
                "example": "2026-07-08T04:45:18.000Z",
                "description": "ISO timestamp at which `url` stops working."
              }
            },
            "required": [
              "url",
              "mime_type",
              "expires_at"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "WhatsAppFlowSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "DRAFT | PUBLISHED | DEPRECATED | BLOCKED | THROTTLED (Meta-owned enum)."
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Typed loosely on reads — Meta may add categories."
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            },
            "description": "Meta's flow.json validation findings, forwarded verbatim. Empty when valid."
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "categories"
        ]
      },
      "WhatsAppFlowDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WhatsAppFlowSummary"
          },
          {
            "type": "object",
            "properties": {
              "json_version": {
                "type": "string"
              },
              "data_api_version": {
                "type": "string"
              },
              "endpoint_uri": {
                "type": "string",
                "description": "Data-exchange endpoint (data_api flows only)."
              },
              "preview": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "preview_url": {
                    "type": "string"
                  },
                  "expires_at": {
                    "type": "string"
                  }
                },
                "description": "Web preview URL for the flow (renders in a browser)."
              }
            }
          }
        ]
      },
      "WhatsAppFlowAsset": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "asset_type": {
            "type": "string",
            "description": "FLOW_JSON today."
          },
          "download_url": {
            "type": "string",
            "description": "Time-limited URL to download the asset bytes."
          }
        }
      },
      "WhatsAppChannelHealth": {
        "type": "object",
        "properties": {
          "connectionId": {
            "type": "string"
          },
          "wabaId": {
            "type": "string"
          },
          "phoneNumberId": {
            "type": "string"
          },
          "canSend": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "AVAILABLE",
              "LIMITED",
              "BLOCKED",
              null
            ],
            "description": "Meta's overall `can_send_message`, or null when `health_status` could not be read. null means unknown, never healthy."
          },
          "tokenValid": {
            "type": "boolean"
          },
          "webhookSubscribed": {
            "type": "boolean"
          },
          "phone": {
            "type": "object",
            "properties": {
              "displayPhoneNumber": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "verifiedName": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "qualityRating": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "messagingLimitTier": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "nameStatus": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "accountMode": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "codeVerificationStatus": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "throughputLevel": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "displayPhoneNumber",
              "verifiedName",
              "qualityRating",
              "messagingLimitTier",
              "nameStatus",
              "accountMode",
              "codeVerificationStatus",
              "throughputLevel"
            ]
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WhatsAppHealthIssue"
            }
          },
          "refreshedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "When this snapshot was last read from Meta (ISO). null on a never-refreshed account."
          },
          "stale": {
            "type": "boolean",
            "description": "True when `refreshedAt` is older than the freshness TTL (6h). A live/forced refresh returns false."
          },
          "reconnectRequired": {
            "type": "boolean",
            "description": "True when the channel needs re-authorization (invalid/expired token)."
          },
          "reconnectUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Where to send the user to reconnect the WhatsApp channel, or null when not required."
          }
        },
        "required": [
          "connectionId",
          "wabaId",
          "phoneNumberId",
          "canSend",
          "tokenValid",
          "webhookSubscribed",
          "phone",
          "issues",
          "refreshedAt",
          "stale",
          "reconnectRequired",
          "reconnectUrl"
        ]
      },
      "WhatsAppHealthIssue": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "string",
            "description": "Meta entity_type (PHONE_NUMBER, MESSAGE_TEMPLATE, WABA, BUSINESS, APP) or a synthetic bucket (APP) for token/webhook issues."
          },
          "code": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Meta error_code (number), a synthetic string code, or null for advisories."
          },
          "description": {
            "type": "string"
          },
          "remediation": {
            "type": [
              "string",
              "null"
            ],
            "description": "Meta's `possible_solution`, or Atribu's remediation for synthetic issues."
          },
          "severity": {
            "type": "string",
            "enum": [
              "critical",
              "warning",
              "info"
            ]
          }
        },
        "required": [
          "entityType",
          "code",
          "description",
          "remediation",
          "severity"
        ]
      },
      "WhatsAppCallingSettings": {
        "type": "object",
        "properties": {},
        "additionalProperties": {},
        "description": "Meta's `calling` object, passed through verbatim in both directions. Atribu holds no opinion about its contents — the SIP peer, the SRTP key exchange and the codec list are the caller's recipe. Documented as free-form on purpose: a schema enumerating Meta's fields would reject a field Meta shipped this morning."
      },
      "WhatsAppCallingBody": {
        "type": "object",
        "properties": {
          "connection_id": {
            "type": "string",
            "format": "uuid"
          },
          "phone_number_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "settings": {
            "$ref": "#/components/schemas/WhatsAppCallingSettings"
          }
        },
        "required": [
          "connection_id",
          "phone_number_id",
          "settings"
        ]
      },
      "WhatsAppSipCredential": {
        "type": "object",
        "properties": {
          "hostname": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "sip_user_password": {
            "type": "string",
            "description": "Meta-generated digest password for this SIP peer."
          }
        },
        "required": [
          "sip_user_password"
        ]
      },
      "InstagramMedia": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "caption": {
            "type": [
              "string",
              "null"
            ]
          },
          "media_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Short-lived CDN URL, or null when Meta omits it. A CAROUSEL_ALBUM parent may carry its own cover URL or not — read `children` for the per-item URLs rather than relying on the parent."
          },
          "permalink": {
            "type": [
              "string",
              "null"
            ]
          },
          "timestamp": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 publish time."
          },
          "media_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "IMAGE | VIDEO | CAROUSEL_ALBUM (Meta-owned enum)."
          },
          "thumbnail_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "VIDEO/REELS only."
          },
          "children": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/InstagramMediaChild"
            },
            "description": "Ordered carousel items; null for non-carousel media."
          }
        },
        "required": [
          "id",
          "caption",
          "media_url",
          "permalink",
          "timestamp",
          "media_type",
          "thumbnail_url",
          "children"
        ]
      },
      "InstagramMediaChild": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "media_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "IMAGE | VIDEO (Meta-owned enum)."
          },
          "media_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "thumbnail_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Video items only."
          },
          "permalink": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "media_type",
          "media_url",
          "thumbnail_url",
          "permalink"
        ]
      },
      "InstagramConversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Conversation id — pass to the messages endpoint."
          },
          "updated_time": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the last message was added. This is a LAST-ACTIVITY stamp: Meta exposes no conversation-creation time, so it cannot tell you how far back a thread goes."
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstagramConversationParticipant"
            }
          }
        },
        "required": [
          "id",
          "updated_time",
          "participants"
        ]
      },
      "InstagramConversationParticipant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "IGSID of the participant (or the account's own id)."
          },
          "username": {
            "type": [
              "string",
              "null"
            ],
            "description": "@handle — Instagram threads."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display name — Page threads only."
          }
        },
        "required": [
          "id",
          "username",
          "name"
        ]
      },
      "InstagramConversationMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_time": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 send time."
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Text body, or null when Meta withheld it — the documented outcome for any message past the 20 most recent in the thread. The id and created_time still identify the message."
          },
          "from": {
            "$ref": "#/components/schemas/InstagramMessageParty"
          },
          "to": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/InstagramMessageParty"
            }
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/InstagramMessageAttachment"
            }
          },
          "shares": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/InstagramMessageAttachment"
            }
          },
          "reactions": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "reaction": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "username": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "reaction",
                "username"
              ]
            }
          },
          "is_unsupported": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Meta returns this only when true."
          }
        },
        "required": [
          "id",
          "created_time",
          "message",
          "from",
          "to",
          "attachments",
          "shares",
          "reactions",
          "is_unsupported"
        ]
      },
      "InstagramMessageParty": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "Page threads only."
          }
        },
        "required": [
          "id",
          "username",
          "name",
          "email"
        ]
      },
      "InstagramMessageAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ]
          },
          "mime_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "file_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "video_url": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "mime_type",
          "name",
          "file_url",
          "image_url",
          "video_url"
        ],
        "description": "Meta returns only a URL for shared media — a shared post or reel does not come back as a re-hostable asset."
      }
    },
    "parameters": {
      "date_from": {
        "schema": {
          "$ref": "#/components/schemas/date_from"
        },
        "required": true,
        "description": "Start date (YYYY-MM-DD, inclusive)",
        "name": "date_from",
        "in": "query"
      },
      "date_to": {
        "schema": {
          "$ref": "#/components/schemas/date_to"
        },
        "required": true,
        "description": "End date (YYYY-MM-DD, inclusive). Max range: 366 days.",
        "name": "date_to",
        "in": "query"
      },
      "limit": {
        "schema": {
          "$ref": "#/components/schemas/limit"
        },
        "required": false,
        "description": "Max results to return (default 10, max 100)",
        "name": "limit",
        "in": "query"
      },
      "model": {
        "schema": {
          "$ref": "#/components/schemas/model"
        },
        "required": false,
        "description": "Attribution model. One of: last_touch, first_touch, linear, time_decay, last_non_direct",
        "name": "model",
        "in": "query"
      }
    }
  },
  "paths": {
    "/api/v1/overview": {
      "get": {
        "summary": "Get dashboard overview",
        "description": "Returns KPIs (spend, revenue, ROAS, CAC), visitor metrics, and comparison with the previous period of equal length.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "model",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Overview data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverviewResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/timeseries": {
      "get": {
        "summary": "Get daily timeseries data",
        "description": "Returns daily cash revenue and ad spend.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Timeseries data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "cash_revenue": {
                            "type": "number"
                          },
                          "spend": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "date",
                          "cash_revenue",
                          "spend"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/realtime": {
      "get": {
        "summary": "Get live visitor count",
        "description": "Returns the number of visitors currently online (active in last 5 minutes).",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Realtime data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "visitors_online": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "visitors_online"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/channels": {
      "get": {
        "summary": "Conversions and revenue by traffic source",
        "description": "Returns attributed conversions and credit-weighted revenue per channel.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The dimension value (e.g. 'Paid Social')."
                          },
                          "conversions": {
                            "type": "number",
                            "description": "Attributed conversions credited to this dimension value."
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Credit-weighted attributed revenue for this dimension value."
                          }
                        },
                        "required": [
                          "value",
                          "conversions",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pages": {
      "get": {
        "summary": "Conversions and revenue by landing page",
        "description": "Returns attributed conversions and credit-weighted revenue per page.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The dimension value (e.g. 'Paid Social')."
                          },
                          "conversions": {
                            "type": "number",
                            "description": "Attributed conversions credited to this dimension value."
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Credit-weighted attributed revenue for this dimension value."
                          }
                        },
                        "required": [
                          "value",
                          "conversions",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/countries": {
      "get": {
        "summary": "Conversions and revenue by country",
        "description": "Returns attributed conversions and credit-weighted revenue per country.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The dimension value (e.g. 'Paid Social')."
                          },
                          "conversions": {
                            "type": "number",
                            "description": "Attributed conversions credited to this dimension value."
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Credit-weighted attributed revenue for this dimension value."
                          }
                        },
                        "required": [
                          "value",
                          "conversions",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices": {
      "get": {
        "summary": "Conversions and revenue by device type",
        "description": "Returns attributed conversions and credit-weighted revenue per device.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The dimension value (e.g. 'Paid Social')."
                          },
                          "conversions": {
                            "type": "number",
                            "description": "Attributed conversions credited to this dimension value."
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Credit-weighted attributed revenue for this dimension value."
                          }
                        },
                        "required": [
                          "value",
                          "conversions",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/browsers": {
      "get": {
        "summary": "Conversions and revenue by browser",
        "description": "Returns attributed conversions and credit-weighted revenue per browser.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The dimension value (e.g. 'Paid Social')."
                          },
                          "conversions": {
                            "type": "number",
                            "description": "Attributed conversions credited to this dimension value."
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Credit-weighted attributed revenue for this dimension value."
                          }
                        },
                        "required": [
                          "value",
                          "conversions",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/os": {
      "get": {
        "summary": "Conversions and revenue by operating system",
        "description": "Returns attributed conversions and credit-weighted revenue per os.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The dimension value (e.g. 'Paid Social')."
                          },
                          "conversions": {
                            "type": "number",
                            "description": "Attributed conversions credited to this dimension value."
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Credit-weighted attributed revenue for this dimension value."
                          }
                        },
                        "required": [
                          "value",
                          "conversions",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/referrers": {
      "get": {
        "summary": "Conversions and revenue by referrer",
        "description": "Returns attributed conversions and credit-weighted revenue per referrer.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Breakdown data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The dimension value (e.g. 'Paid Social')."
                          },
                          "conversions": {
                            "type": "number",
                            "description": "Attributed conversions credited to this dimension value."
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Credit-weighted attributed revenue for this dimension value."
                          }
                        },
                        "required": [
                          "value",
                          "conversions",
                          "revenue"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "summary": "Get campaign performance",
        "description": "Returns top campaigns with ROAS and attribution data. Add `level=ad_set` or `level=ad` for granular breakdowns.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "model",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "level",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaign_id": {
                            "type": "string"
                          },
                          "campaign_name": {
                            "type": "string"
                          },
                          "spend": {
                            "type": "number"
                          },
                          "outcome_count": {
                            "type": "number"
                          },
                          "outcome_value": {
                            "type": "number"
                          },
                          "roas": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "campaign_id",
                          "campaign_name",
                          "spend",
                          "outcome_count",
                          "outcome_value",
                          "roas"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/trend": {
      "get": {
        "summary": "Get daily campaign trend",
        "description": "Returns daily spend, impressions, and clicks for specific campaigns/ad sets/ads.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "entity_ids",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "level",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Trend data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity_id": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "spend": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "clicks": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "entity_id",
                          "date",
                          "spend",
                          "impressions",
                          "clicks"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/top-performers": {
      "get": {
        "summary": "Get the profile's top-performing ads (cohort-normalized creative scoring)",
        "description": "Best ads scored against *comparable* creative (a cohort = channel × format × objective × audience warmth × geo × placement): cohort-normalized, empirical-Bayes-smoothed (small-sample ads shrink toward the cohort mean), and maturity-staged. Each ad carries THREE distinct measures — present them separately, never merge: `composite_score` (0–100, a transparent rule blend), `top_performer_likelihood` (0–1, a probability — a *likelihood, not a guarantee*; the calibrated ML-ranker output when `score_source='model'` with `model_version` set, else a monotone function of `composite_score`; never ROAS), and `attributed_revenue`/`roas` (real cash attribution, present when `truth_grade='attributed'`). `maturity_stage` (cold→early→mature→calibrated) says how settled the score is; `reason_codes` explain which funnel layer is strong/weak with a sample-confidence band. Scores refresh on a daily cadence. `window` is a rolling lookback (`7d`/`14d`/`28d`/`lifetime`), not a custom date range. The workspace-wide cross-profile view is exposed via the Atribu MCP server's `top_workspace_performers` tool.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "min_spend",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "objectives",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "truth_grades",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "formats",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "required": false,
            "name": "has_video",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Top performers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_external_id": {
                            "type": "string"
                          },
                          "ad_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "campaign_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "ad_set_name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "creative_thumbnail_url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "video_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "score_window": {
                            "type": "string"
                          },
                          "composite_score": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "top_performer_likelihood": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "model_version": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "score_source": {
                            "type": "string",
                            "enum": [
                              "model",
                              "rules"
                            ]
                          },
                          "maturity_stage": {
                            "type": "string"
                          },
                          "truth_grade": {
                            "type": "string"
                          },
                          "primary_outcome_kind": {
                            "type": "string"
                          },
                          "cohort_key": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cohort_objective": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cohort_format": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cohort_audience_warmth": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cohort_n_ads": {
                            "type": "number"
                          },
                          "hook_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "creative_format": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cta_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "primary_angle": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "offers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "spend": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "ctr": {
                            "type": "number"
                          },
                          "cpc": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "attributed_cash_outcomes": {
                            "type": "number"
                          },
                          "attributed_revenue": {
                            "type": "number"
                          },
                          "roas": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "cac": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "attributed_outcomes_total": {
                            "type": "number"
                          },
                          "attributed_pipeline_outcomes": {
                            "type": "number"
                          },
                          "attributed_pipeline_value": {
                            "type": "number"
                          },
                          "meta_reported_conversions": {
                            "type": "number"
                          },
                          "meta_reported_conversion_value": {
                            "type": "number"
                          },
                          "cost_per_conversation": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "messaging_conversations_started": {
                            "type": "number"
                          },
                          "first_reply_rate": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "avg_engagement_score": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "reason_codes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "layer": {
                                  "type": "string"
                                },
                                "polarity": {
                                  "type": "string",
                                  "enum": [
                                    "strength",
                                    "weakness",
                                    "forecast",
                                    "fatigue"
                                  ]
                                },
                                "percentile": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                },
                                "sample_confidence": {
                                  "type": "string",
                                  "enum": [
                                    "low",
                                    "medium",
                                    "high"
                                  ]
                                },
                                "code": {
                                  "type": "string"
                                },
                                "metric_value": {
                                  "type": [
                                    "number",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "layer",
                                "polarity",
                                "percentile",
                                "sample_confidence"
                              ]
                            }
                          },
                          "forecast_outcomes_7d": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "forecast_outcomes_7d_low": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "forecast_outcomes_7d_high": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "forecast_confidence": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "low",
                              "medium",
                              "high",
                              null
                            ]
                          },
                          "hazard_30d_pause": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "hazard_30d_degradation": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "fatigue_state": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "active",
                              "paused",
                              "degraded",
                              null
                            ]
                          },
                          "fatigue_risk_tier": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "low",
                              "medium",
                              "high",
                              "critical",
                              null
                            ]
                          },
                          "expected_lifespan_days": {
                            "type": [
                              "number",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "ad_external_id",
                          "ad_name",
                          "campaign_name",
                          "ad_set_name",
                          "creative_thumbnail_url",
                          "video_id",
                          "score_window",
                          "composite_score",
                          "top_performer_likelihood",
                          "model_version",
                          "score_source",
                          "maturity_stage",
                          "truth_grade",
                          "primary_outcome_kind",
                          "cohort_key",
                          "cohort_objective",
                          "cohort_format",
                          "cohort_audience_warmth",
                          "cohort_n_ads",
                          "hook_type",
                          "creative_format",
                          "cta_type",
                          "primary_angle",
                          "offers",
                          "spend",
                          "impressions",
                          "ctr",
                          "cpc",
                          "attributed_cash_outcomes",
                          "attributed_revenue",
                          "roas",
                          "cac",
                          "attributed_outcomes_total",
                          "attributed_pipeline_outcomes",
                          "attributed_pipeline_value",
                          "meta_reported_conversions",
                          "meta_reported_conversion_value",
                          "cost_per_conversation",
                          "messaging_conversations_started",
                          "first_reply_rate",
                          "avg_engagement_score",
                          "reason_codes",
                          "forecast_outcomes_7d",
                          "forecast_outcomes_7d_low",
                          "forecast_outcomes_7d_high",
                          "forecast_confidence",
                          "hazard_30d_pause",
                          "hazard_30d_degradation",
                          "fatigue_state",
                          "fatigue_risk_tier",
                          "expected_lifespan_days"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/creative-patterns": {
      "get": {
        "summary": "Workspace creative pattern miner (Phase 2.7)",
        "description": "Which structural creative patterns (archetype cluster, narrative arc, dominant-third role combo, role presence signature, social-proof duration bucket, hook×claim×cta) win MORE than the workspace baseline. One row per (pattern_dim, pattern_value) with sample_n, winner_n, win_rate, workspace_baseline_win_rate, lift_vs_workspace, Wilson 95% CI bounds, and the top-5 exemplar ads embodying the pattern. Filtered to the API key's profile via the workspace RPC's profile_ids filter. Pair with /top-performers for cash impact per ad.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "min_cluster_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Creative patterns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "patterns": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "pattern_dim": {
                                "type": "string"
                              },
                              "pattern_value": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "pattern_label": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "pattern_description": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "pattern_winning_signal": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "sample_n": {
                                "type": "number"
                              },
                              "winner_n": {
                                "type": "number"
                              },
                              "win_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "workspace_baseline_win_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "lift_vs_workspace": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "confidence_interval_low": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "confidence_interval_high": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "exemplar_ad_external_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "pattern_dim",
                              "pattern_value",
                              "pattern_label",
                              "pattern_description",
                              "pattern_winning_signal",
                              "sample_n",
                              "winner_n",
                              "win_rate",
                              "workspace_baseline_win_rate",
                              "lift_vs_workspace",
                              "confidence_interval_low",
                              "confidence_interval_high",
                              "exemplar_ad_external_ids"
                            ]
                          }
                        },
                        "score_window": {
                          "type": "string"
                        },
                        "min_cluster_size": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "patterns",
                        "score_window",
                        "min_cluster_size"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/archetypes": {
      "get": {
        "summary": "Workspace creative archetype summary (Phase 2.7)",
        "description": "Workspace-level archetype headline: 'these are your creative clusters, named and ranked by lift.' One row per archetype_cluster with LLM-generated label/description/winning_signal, win-rate vs workspace baseline, Wilson 95% CI bounds, and top-5 exemplars. Archetypes are workspace-grain (cross-profile cohort percentiles); the response is NOT profile-scoped.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Archetype summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "archetypes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "archetype_cluster": {
                                "type": "number"
                              },
                              "label": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "description": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "winning_signal": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "n_ads": {
                                "type": "number"
                              },
                              "n_winners": {
                                "type": "number"
                              },
                              "win_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "workspace_baseline_win_rate": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "lift_vs_workspace": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "confidence_interval_low": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "confidence_interval_high": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "exemplar_ad_external_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "archetype_cluster",
                              "label",
                              "description",
                              "winning_signal",
                              "n_ads",
                              "n_winners",
                              "win_rate",
                              "workspace_baseline_win_rate",
                              "lift_vs_workspace",
                              "confidence_interval_low",
                              "confidence_interval_high",
                              "exemplar_ad_external_ids"
                            ]
                          }
                        },
                        "score_window": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "archetypes",
                        "score_window"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ads/funnel-diagnosis": {
      "get": {
        "summary": "Per-ad funnel diagnosis (Phase 2.8)",
        "description": "Per-ad funnel-layer percentile breakdown — delivery, attention, retention, click_intent, postclick_messaging, attributed_revenue, platform_diagnostics. Each layer carries the ad's percentile within its cohort, the smoothed metric, sample_n, weakest-layer flag, diagnostic codes (e.g. retention_below_p25_at_mature_stage), and a recommended_priority — one of: fix_offer_or_audience, fix_landing_or_offer, fix_hook, improve_creative_clarity, increase_spend, rework_offer_or_landing, maintain. Cold-maturity ads with spend < $50 return 'increase_spend' (the 'spend_below_learning_phase' code). When the ad has no per-layer percentiles yet but at least one diagnostic_code applies, the response contains a single layer='no_data' row carrying the codes + recommended_priority. Scope: campaigns:read.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "ad_external_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "28d",
                "lifetime"
              ]
            },
            "required": false,
            "name": "window",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Funnel diagnosis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ad_external_id": {
                          "type": "string"
                        },
                        "score_window": {
                          "type": "string"
                        },
                        "weakest_layer": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "recommended_priority": {
                          "type": "string"
                        },
                        "layers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "layer": {
                                "type": "string"
                              },
                              "percentile": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "smoothed_metric": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "sample_n": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "is_weakest_layer": {
                                "type": "boolean"
                              },
                              "diagnostic_codes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "recommended_priority": {
                                "type": "string"
                              },
                              "maturity_stage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "truth_grade": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "layer",
                              "percentile",
                              "smoothed_metric",
                              "sample_n",
                              "is_weakest_layer",
                              "diagnostic_codes",
                              "recommended_priority",
                              "maturity_stage",
                              "truth_grade"
                            ]
                          }
                        }
                      },
                      "required": [
                        "ad_external_id",
                        "score_window",
                        "weakest_layer",
                        "recommended_priority",
                        "layers"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ads/compare": {
      "get": {
        "summary": "Compare two ads by feature contributions (Phase 2.8)",
        "description": "Returns the top-N features most responsible for the gap between two ads' rankings, sorted by |model_contribution_a − model_contribution_b|. Each row has the feature name, raw values for A and B, the numeric delta, and per-ad model contributions sourced from `model_feature_contributions`.",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
[...]
